/* Estilos gerais */
body {
    margin: 0;
    font-family: "Oswald", sans-serif;
}

a{
    text-decoration: none;
    color: black;
}

/* Navbar */
.navbar {
    background-color: #5d7c5a;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: relative;
    z-index: 1;
}

.navbar-brand a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
}

.navbar-menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
}

.navbar-menu li {
    margin-left: 20px;
}

.navbar-menu a {
    color: #fff;
    text-decoration: none;
    padding: 8px 16px;
    display: block;
    transition: background-color 0.3s ease;
}

.navbar-menu a:hover {
    background-color: #3d5c3a;
    transition: 1.5s;
    border-radius: 30px;
}

/* Estilos para menu em tela cheia no mobile */
.navbar-menu.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 14, 3, 0.9);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.navbar-menu.active {
    opacity: 1;
    visibility: visible;
}

.navbar-menu li {
    margin: 20px 0;
}

.navbar-toggle {
    background-color: #6d8c6a;
    color: #fff;
    border: none;
    font-size: 24px;
    cursor: pointer;
    display: none;
}

.navbar-close {
    background-color: transparent;
    color: #fff;
    border: none;
    font-size: 36px;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
    display: none; /* Oculto em desktop */
}

.logo{}

/* Estilos para dispositivos móveis */
@media (max-width: 768px) {
    .navbar-toggle {
        display: block;
    }

    .navbar-menu {
        display: none;
    }

    .navbar-menu.fullscreen {
        display: flex;
    }

    .navbar-close {
        display: block;
    }
}

@media (min-width: 769px) {
    .navbar-close {
        display: none;
    }
}

.landing-button{
    text-transform: uppercase;
}

/* Estilização da parte de duvidas */
.info{
    margin-top: 5%;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: grid;
    gap: 30px;
}

.duvida{
    transform: scale(5);
    font-weight: 1;
}

.ajuda{
    transform: scale(2);
    font-weight: 100;
}